html {
    background-color: rgb(250, 255, 222);
}

#staindeco {
    float: left;
    transform: scale(0.5);
}

#header {
    position: relative;
    text-align: left;
    padding: 30px;
    margin:;
}

#body1 {
    padding: 30px;
    line-height: 15px;
    text-align: justify;
}

#quiz {}

#secondpage {
    margin: 0;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#saysorry {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -80px;
}